* {
  
  
  font-family: 'Playpen Sans', cursive;
  
}
.card{
  margin-top: auto;
  align-items: center;
  width: 15cm;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 5px;
  background-color: aliceblue;
  
 
}
.container{
  padding: auto;
  justify-content: center;
  text-align: center;
}